.Savings{
    grid-area: main;
    width: 100%;
    border-radius: 30px;
    margin: 2rem 2rem 0 2rem;
    height: 90vh;
}

.SavingsAmount{
    background-color: #261D56;
    border-radius: 30px;
    height: 230px;
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.TrackGoal{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5rem;
    height: 20rem
}

.currentlyGoal{
    background-color: #261D56;
    border-radius: 30px;
    height: 350px;
    padding: 1rem 3rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.boxAmount{
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.boxImg{

}

.title{
    color: #F6F7FF;
    font-size: 1rem;
    font-weight: 100;
}

.amount{
    color: #F6F7FF;
    font-size: 4rem;
    font-weight: 400;
}

.cifrao{
    color: #F6F7FF;
    font-size: 4rem;
    font-weight: 100;
    margin-right: 1.5rem;

}

.icon{
    width: 270px;
    height: 270px;
}


.paginationBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.paginationBlock li{
    display: inline-block;
}

.paginationBlock li a{
    border: 1px solid #696ffb ;
    border-radius: 3px;
    padding: .3rem .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #696ffb ;
}

.paginationBlock li a:first-child{
    margin-right: 1rem;
  }

.paginationBlock li a:hover{
    background-color: #696ffb ;
    color: white;
}

.pagination__linkActive{
    color: #696ffb; 
}

li{
    list-style: none;
}


@media(max-width: 419px){
    .TrackGoal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 350px;
        margin: 0 auto;
    }

    .Savings{
        grid-area: main;
        width: 100%;
        border-radius: none;
        margin: 0;
        height: 100%;
    }

    .SavingsAmount{
        background-color: #261D56;
        border-radius: 0;
        height: 550px;
        padding: 1rem 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .boxAmount{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        order: 2;
    }
    
    .boxImg{
        order: 1;
    }

    .icon{
        width: 240px;
        height: 240px;
    }
    

}