.Hero{
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.blocText {
    display: flex;
    flex: 50%;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 18rem;
}

.blocText h1{
    font-size: 3rem;
    font-weight: 700;
    color: #D46F5E;
}


.blocText p{
    font-size: 1.3rem;
    font-weight: 300;
    color: #fcfcfc;
    line-height: 1.7;
}

.blocText button{
    border: none;
    border: 2px solid #D46F5E;
    padding: .8rem .8rem;
    width: 10rem;
    background-color: transparent;
    color: #fcfcfc;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.blocImg{
    width: 100% !important;
    height: 100%;
    flex: 50%;
}

.blocImg img{
    width: 550px;
    height: 100%;
    object-fit: cover;
    transform: translate(3rem, 1rem);
}


/* Responsiveness */
@media(max-width: 1505px){
    .blocText h1{
        font-size: 2.3rem;
    }
}

@media(max-width: 1300px){
    .blocImg img{
        width: 400px;
        height: 100%;
        object-fit: cover;
       /*  transform: translate(2rem, 1rem); */
    }
    .blocText {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 13rem;
        width: 100%;
/*         transform: translateY(2rem); */
    }

    .blocText h1{
        font-size: 2.3rem;
        font-weight: 700;
        text-align: center;
        color: #D46F5E;
    }

    .blocText p{
        font-size: 1rem;
    }

    .blocText button{
        border: none;
        padding: .8rem .8rem;
        width: 8rem;
        background-color: #D46F5E;
        color: #fcfcfc;
        font-weight: 500;
        border-radius: 5px;
        text-transform: uppercase;
    }
}

@media(max-width: 1155px){
    .blocText h1{
        font-size: 1.9rem;
    }
}

@media(max-width: 955px){
    .blocText h1{
        font-size: 1.7rem;
    }
}

@media(max-width: 900px){
    .blocImg{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    
    .blocImg img{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .blocText {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 15rem;
        width: 100%;
        transform: translateY(2rem);
    }

    .blocText h1{
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        color: #D46F5E;
    }

    .blocText p{
        font-size: 1rem;
    }

    .blocText button{
        border: none;
        padding: .8rem .8rem;
        width: 8rem;
        background-color: #D46F5E;
        color: #fcfcfc;
        font-weight: 500;
        border-radius: 5px;
        text-transform: uppercase;
    }
    
}

@media(max-width: 600px){
    .blocText {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 13rem;
        width: 100%;
        transform: translateY(6rem);
    }
    .blocText h1{
        font-size: 1.8rem;
      
    }
}

@media(max-width: 419px){
    .blocText {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 15rem;
        width: 100%;
        transform: translateY(6rem);
    }
    .blocText h1{
        font-size: 1.5rem;
      
    }

    .blocText p{
        font-size: .95rem;
    }
}

@media(max-width: 360px){
    .blocText {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 12rem;
        width: 100%;
        transform: translateY(6rem);
    }
    .blocText h1{
        font-size: 1.3rem;
      
    }

    .blocText p{
        font-size: .95rem;
    }
}