.brandList{
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandList li img{
    width: 160px;
    height: 160px;
}

.mysql{
    transform: translateY(-1rem);
    width: 170px !important;
    height: 170px !important;
}

.netlify{
    width: 180px !important;
    height: 180px !important;
}

.material{
    width: 80px !important;
    height: 80px !important;
}

/* Responsiveness */
@media(max-width: 1400px){
    
}

@media(max-width: 1255px){
    .brandList{
        padding: 3% 7%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: .5rem
    }

    .brandList li img{
        width: 100px;
        height: 100px;

    }

    .material{
        width: 60px !important;
        height: 60px !important;
    }
}

@media(max-width: 1200px){
    .brandList{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

}

@media(max-width: 900px){
    

    .brandList li img{
        width: 90px;
        height: 90px;
    }

    .material{
        width: 50px !important;
        height: 50px !important;
    }
}

@media(max-width: 680px){
    .brandList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .brandList li img{
        width: 120px;
        height: 120px;

    }

    .material{
        width: 80px !important;
        height: 80px !important;
    }

 
}

@media(max-width: 680px){
    .brandList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .brandList li img{
        width: 100px;
        height: 100px;

    }

    .material{
        width: 60px !important;
        height: 60px !important;
    }

 
}

@media(max-width: 419px){
    .brandList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
    }

    .brandList li img{
        width: 100px;
        height: 100px;

    }

    .material{
        width: 60px !important;
        height: 60px !important;
    }

    .google{
        width: 130px !important;
        height: 130px !important;
    }
}