.expensesFilter {
    color: white;
    padding: 0 1rem;
    outline: none;
  }

  .filterBox{
    color: red !important;
  }
  
  .react-datepicker__header {
    text-align: center;
    background-color: #3e82cf !important;
    border-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 8px;
    position: relative;
  
  }
  
  .react-datepicker__today-button {
    background: #3e82cf;
    border-top: 0px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
  }
  .react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #1f2940 !important;
    color: rgb(221, 221, 221);
    border: 0px;
    border-radius: 0;
    display: inline-block;
    position: relative;
  }
  .expensesFilterControl {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    outline: none;
  }
  
  .expensesFilter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    outline: none;
  }
  
  .expensesFilter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 30px;
    outline: none;
  }

  .filterBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter{
    padding: .3rem .7rem;
  }

  .calendar{
    width: 35px;
    height: 35px;
    margin-right: 1rem;
   
  }
 
  .to{
    margin: 0 .5rem;
  }
/*   .react-datepicker{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background: #1f2940 !important;
    color: rgb(221, 221, 221);
    border: 0px;
    border-radius: 0;
    display: inline-block;
    position: relative;
  } */
/* 
  .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text{
    color: #fff !important;
  } */
/* 
  .Test{
    background: #1f2940 !important;
    color: #fff !important;
  }

  .Test__header{
    background: #1f2940 !important;
  } */

  /* .datePicker {
    width: 400px !important;
    border: none !important;
    color: #fff !important;
  } */
 
/*   .customDate{
    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {
        display: block;
        width: 250px;
        margin-right: 13px;
        margin-left: 3px;
    }
  } */


  @media(max-width: 419px){
    .filterBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

   .filter{
     border-radius: 3px;
     border: none;
     border: 1px solid rgb(216, 216, 216);
    
   }

   
  .calendar{
    width: 25px;
    height: 25px;
    margin-bottom: 1rem;
   
  }
}