.DashboardNavbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #261D56;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.BoxIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}