.DashboardNavbar{
    grid-area: navbar;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 300px;
    background-color: #1f2940;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.iconsAndLinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}

.iconsAndLinks p:hover{
    color: aquamarine;
}

.iconsAndLinks{
    text-decoration: none;
}

.iconsAndLinks  p{
    color: rgb(158, 158, 158);
    font-size: 1.2rem;
    text-decoration: none;
}

.BoxIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logout{
    cursor: pointer;
}

@media(max-width: 419px){
    .DashboardNavbar{
        width: 100%;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    .BoxIcons{
        flex-direction: initial;
    }
}

@media (max-width: 360px) {
    .DashboardNavbar{
     /*    order: 1; */
    }
  }
