.DashboardNavbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 76px;
    background-color: #261D56;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.BoxIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 419px){
    .DashboardNavbar{
        width: 100%;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    .BoxIcons{
        flex-direction: initial;
    }
}

@media (max-width: 360px) {
    .DashboardNavbar{
     /*    order: 1; */
    }
  }
