.Product{
    padding: 3% 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #23222A;
    height: 100%;
    width: 900px;
    padding: 0 5% 0 0;
}

.content h2{
    font-size: 2.7rem;
    font-weight: 900;
    position: relative;
    margin-bottom: 1.5rem;
    
}

.wrapperButton{
    margin-right: auto;
}

.content h2::before{
    content: "";
    display: inline-block;
    background-color: #23222A;
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 4px;
    border-radius: 10px;
    transform: translateY(-1rem);

}

.content p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.content button{
    border: none;
    border: 2px solid #23222A;
    background-color: transparent;
    font-weight: 600;
    width: 160px;
    padding: .6rem .9rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    align-self: flex-start;
}

.content button:hover{
    background-color: #23222A;
    color: #fff;
}

.image img{
    width: 500px;
    height: 100%;
}

/* Responsiveness */
@media(max-width: 1400px){
    
}

@media(max-width: 1350px){
    .image img{
        margin-top: 1.5rem;
        width: 400px;
        height: 100%;
    }

    .content{
        align-items: flex-start;
        width: 50rem;
    }
    .content h2{
        font-size: 2.2rem;
    }
}

@media(max-width: 1000px){
   
}

@media(max-width: 900px){
    .Product{
        margin: 4% 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .image img{
        margin-top: 1.5rem;
        width: 350px;
        height: 100%;
        
    }
    

      .image{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 0 auto;
    }

    .content{
        align-items: center;
        width: 100%;
        height: 100%;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    

    .content h2{
        font-size: 1.8rem;
        text-align: center;
    }

    .content p{
        font-size: 1rem;
        text-align: center;
    }

    .content h2::before{
        display: none; 
    }

    .content button{
        border: none;
        border: 2px solid #23222A;
        background-color: transparent;
        font-weight: 600;
        width: 130px;
        padding: .5rem .7rem;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        align-self: flex-start;
        margin: 0 auto;
    }

    .wrapperButton{
        margin: 0 auto !important;
    }
}


@media(max-width: 419px){
    .image img{
        margin-top: 1.5rem;
        width: 230px !important;
        height: 100% !important;
    }

  
    .content h2{
        font-size: 1.8rem;
        text-align: center;
    }
}

@media(max-width: 360px){
    .image img{
        margin-top: 1.5rem;
        width: 300px;
        height: 100%;
    }

}

