.Product{
    padding: 3% 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #23222A;
    height: 270px;
    width: 550px;
}

.content h2{
    font-size: 2.4rem;
    font-weight: 900;
    position: relative;
}

.content h2::before{
    content: "";
    display: inline-block;
    background-color: #23222A;
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 4px;
    border-radius: 10px;
    transform: translateY(-1rem);

}

.content p{
    font-size: 1.2rem;
    font-weight: 300;
}

.content button{
    border: none;
    border: 2px solid #23222A;
    background-color: transparent;
    font-weight: 600;
    width: 160px;
    padding: .6rem .9rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    align-self: flex-start;
}

.image img{
    width: 500px;
    height: 100%;
}

/* Responsiveness */
@media(max-width: 1400px){
    
}

@media(max-width: 1350px){
    .image img{
        margin-top: 1.5rem;
        width: 500px;
        height: 100%;
    }

    .content{
        align-items: flex-start;
        width: 50rem;
    }
    .content h2{
        font-size: 2.2rem;
    }
}

@media(max-width: 1000px){
   
}

@media(max-width: 900px){
    .Product{
    /*     padding: 3% 7%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .image img{
        margin-top: 1.5rem;
        width: 350px;
        height: 100%;
    }

    .content h2{
        font-size: 1.8rem;
        text-align: center;
    }

    .content p{
        font-size: 1rem;
        text-align: center;
    }

    .content h2::before{
        display: none; 
    }

    .content button{
        border: none;
        border: 2px solid #23222A;
        background-color: transparent;
        font-weight: 600;
        width: 130px;
        padding: .5rem .7rem;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        align-self: flex-start;
        margin: 0 auto;
    }
}


@media(max-width: 419px){
    .image img{
        margin-top: 1.5rem;
        width: 330px !important;
        height: 100% !important;
    }

    .content{
        align-items: center;
        width: 100%;
    }
    .content h2{
        font-size: 1.8rem;
        text-align: center;
    }
}

@media(max-width: 360px){
    .image img{
        margin-top: 1.5rem;
        width: 300px;
        height: 100%;
    }

    .content{
        align-items: center;
        width: 100%;
    }
    .content h2{
        font-size: 1.8rem;
        text-align: center;
    }
}

