.transaction{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem auto;
    padding-bottom: .5rem;
    position: relative;
}

.transaction h3{
    color: #fcfcfc;
    font-size: 1.2rem;
    font-weight: 600;
    width: 200px;
}

.transactionDate{
    font-size: .8rem;
    color: #ACACAC;
    font-weight: 600;
    width: auto;
}

.expensePrice{
    font-weight: 600;
    color: #E96574;
    width: 150px;
    text-align: center;
}

.incomePrice{
    font-weight: 600;
    color: #2BC4A9;
    width: 150px;
    text-align: center;
}

.savingsPrice{
    font-weight: 600;
    color: #0F96BD;
    width: 150px;
    text-align: center;
}

.icons{
    width: 30px;
    height: 30px;
}

.iconsMore{
    width: 20px;
    height: 20px;
    cursor: pointer !important;
    display: inline;
 
}

.editAndDeleteBox{
    width: 120px;
    padding: .15rem 0;
    background-color: rgba(38, 29, 86, .8);
    position: absolute;
    top: -1rem;
    right:1rem;    
    z-index: 55;
    border-radius: 10px;
}

.editButton,
.deleteButton{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem 1rem;
    font-weight: 600;
    color: #fff;

}

.svgIcon {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    cursor: pointer;
}



.editButton:hover{
    color: #2BC4A9;
}

.deleteButton:hover{
    color: #E96574;
}

@media(max-width: 419px){
    .transaction{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin: 1rem auto;
        padding-bottom: .5rem;
        position: relative;
    }

    .transaction h3{
        color: #353535;
        font-size: 1.05rem;
        font-weight: 600;
        width: 160px;
    }

    .expensePrice,
    .savingsPrice,
    .incomePrice{  
        width: 110px;  
    }
    
    .icons{
        width: 25px;
        height: 25px;
        margin-right: 1rem;
    }
    
    .iconsMore{
        width: 15px;
        height: 15px;
        cursor: pointer !important;
        display: inline;
     
    }


}

@media(max-width: 360px){
    .transaction{
        width: 85%;
        transform: translateX(0);
        margin: 0 auto;
    }

    .transaction h3{
        color: #353535;
        font-size: .97rem;
        font-weight: 600;
        width: 140px;
    }

    .transactionDate{
        font-size: .7rem;
        color: #ACACAC;
        font-weight: 600;
        width: auto;
    }

/*     .expensePrice{
        font-weight: 600;
        color: #E96574;
        width: 140px;
        font-size: .8rem;
        text-align: center;
    } */

    .expensePrice,
    .incomePrice{
        width: 140px;
        font-size: .8rem;
    }

    
.savingsPrice{
    font-weight: 600;
    color: #0F96BD;
    width: 140px;
    font-size: .8rem;
    text-align: center;
}

.icons{
    width: 22px;
    height: 22px;
    margin-right: 1rem;
}

}