.transaction{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem auto;
    padding-bottom: .5rem;
}

.transaction h3{
    color: #353535;
    font-size: 1.2rem;
    font-weight: 600;
    width: 200px;
}

.transactionDate{
    font-size: .8rem;
    color: #ACACAC;
    font-weight: 600;
    width: auto;
}

.expensePrice{
    font-weight: 600;
    color: #E96574;
    width: 150px;
    text-align: center;
}

.incomePrice{
    font-weight: 600;
    color: #2BC4A9;
    width: 150px;
    text-align: center;
}

.icons{
    width: 30px;
    height: 30px;
}

.iconsMore{
    width: 20px;
    height: 20px;
}