.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3% 7%;
  z-index: 100;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

.list li a {
  text-decoration: none;
  margin: 20px;
  color: #fff;
  font-weight: 300;
}

.signInButton{ 
  border: none;
  padding: .6rem .8rem;
  width: 100%;
  background-color: #D46F5E;
  color: #fcfcfc;
  border-radius: 5px;

}

.signInButton a{
  font-size: 1rem;
}

.blocBurger {
  position: absolute;
  top: -1rem;
  right: 0rem;
  display: none;
  opacity: 0;
  visibility: hidden;
  margin: 2rem 3rem;
}

.blocNav {
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: #2F2E41;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}

.logo a{
   font-size: 1.2rem;
   color: #ffffff;
   font-weight: 600;
   text-decoration: none;
}

.blocNav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.blocNav ul li a{
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

@media (max-width: 900px) {
  .list li a {
    color: red;
  }

  .list {
    display: none;
    opacity: 0;
    visibility: none;
  }

  .blocNav {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }

  .blocBurger {
    position: absolute;
    top: 0rem;
    right: 2rem;
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
}
