.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3% 7%;
  z-index: 100;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

.list li a:hover{
  color: #D46F5E;
}

.list li:last-child a{
  color: white;
}

.list li:last-child:hover{
  background-color: #da553e;
}

.list li a {
  text-decoration: none;
  margin: 20px;
  color: #fff;
  font-weight: 300;
}

.signInButton{ 
  border: none;
  padding: .6rem .8rem;
  width: 100%;
  background-color: #D46F5E;
  color: #fcfcfc;
  border-radius: 5px;

}

.signInButton a{
  font-size: 1rem;
}

.logoutButton{ 
  border: none;
  padding: .6rem .8rem;
  width: 100%;
  background-color: #fcfcfc;
  color: #D46F5E;
  border-radius: 5px;

}

.logoutButton a{
  font-size: 1rem !important;
  color: #D46F5E !important;
  font-weight: 700 !important;
}

.blocBurger {
  position: absolute;
  top: -1rem;
  right: 0rem;
  z-index: 5000 !important;
  display: none;
  opacity: 0;
  visibility: hidden;
  margin: 2rem 3rem;
}



.bm-overlay{
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}


.blocNav {
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100vh;
}
.listMobile{
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.bm-item-list {
  width: 100%;
  height: 100vh;

}

.listMobile{
  width: 100vw !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.listMobile li{
  margin-bottom: 1rem;
}

.bm-item{
  display: inline-block !important;
  height: 100% !important;

}

.blocNav ul{
  display: flex;
}

.blocNav ul li{

}

.bm-menu-wrap{
  width: 100% !important;
  background-color: red;
}



.logo a{
   font-size: 1.2rem;
   color: #ffffff;
   font-weight: 600;
   text-decoration: none;
}

.blocNav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.blocNav ul li a{
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

@media (max-width: 900px) {
  .list li a {
    color: red;
  }

  .logo{
    transform: translateY(2rem);
  }

  .list {
    display: none;
    opacity: 0;
    visibility: none;
  }

  .blocNav {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }

  .blocBurger {
    position: absolute;
    top: 0rem;
    right: 2rem;
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
}
