.Features{
    width: 100%;
    padding: 0 2%;
}

.content button{
    border: none;
    border: 2px solid #23222A;
    background-color: transparent;
    font-weight: 600;
    width: 160px;
    padding: .6rem .9rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    align-self: flex-start;
}

/* Start LEFT PART */
.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    padding: 0 2%;

}

.left .boxImage{
    width: 766px;
    height: 775px;
    position: relative;
    z-index: 5;
    /* flex: 70%; */
}

.boxImage .backgroundLeft{
    height: 100%;
    width: auto;
    z-index: 1;
}

.left .content{
    display: flex;
    flex-direction: column;
/*     justify-content: space-between; */
    align-items:center;
    color: #23222A;
    height: 100%;
    width: 100%;
    /* flex: 30%; */
}

.left .content h2{
    font-size: 2.7rem;
    font-weight: 900;
    position: relative;
    margin-bottom: 1.5rem;
}


.left .content p{
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Ends LEFT PART */

/* Start RIGHT PART */

.right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    padding: 0 2%;
}

.right .boxImage{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
    /* flex: 60%; */
}


.boxImage .backgroundRight{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.right .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #23222A;
    height: 100%;
    /* padding: 0 3rem; */
    width: 100%;
   /*  flex: 40%; */
   
}

.right .content h2{
    font-size: 2.7rem;
    font-weight: 900;
    position: relative;
    margin-bottom: 1.5rem;
}


.right .content p{
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Responsiveness */
@media(max-width: 1350px){
 
    .boxImage .backgroundLeft{
        height: 900px;
        width: auto;
        z-index: 1;
    }


    .left .content{
        align-items: flex-start;
        width: 100%;
        height: 200px;
        flex: 40%;
    }

    .left .content h2{
        font-size: 2.2rem;
        font-weight: 900;
        position: relative;
    }
    
    
    .left .content p{
        font-size: 1rem;
        font-weight: 300;
    }

    .boxImage .backgroundRight{
        height: 900px;
        width: auto;
        z-index: 1;
    }


    .right .content{
        align-items: flex-start;
        width: 100%;
        height: 200px;
        flex: 40%;
    }

    .right .content h2{
        font-size: 2.2rem;
        font-weight: 900;
        position: relative;
    }
    
    
    .right .content p{
        font-size: 1rem;
        font-weight: 300;
    }
}

@media(max-width: 1240px){
    .boxImage .backgroundLeft{
        height: 750px;
        width: auto;
        z-index: 1;
    }

    .left .boxImage{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        flex: 50%;
    }

    .left .content{
        width: 100%;
        height: 220px;
        padding: 2rem;
        flex: 50%;
    }
   

    .left .content h2{
        font-size: 2.2rem;
        font-weight: 900;
        position: relative;
    }

    .boxImage .backgroundRight{
        height: 750px;
        width: auto;
        z-index: 1;
    }

    .right .boxImage{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        flex: 50%;
    }

    .right .content{
        width: 100%;
        height: 220px;
        padding: 2rem;
        flex: 50%;
    }
   

    .right .content h2{
        font-size: 2.2rem;
        font-weight: 900;
        position: relative;
    }

   
}

@media(max-width: 1050px){
    .left{
        overflow-x:hidden;
        overflow-y:hidden;
    }
    .boxImage .backgroundLeft{
        height: 600px;
        width: auto;
        z-index: 1;
    }

    .left .boxImage{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        flex: 40%;
    }

    .left .content{
        width: 100%;
        height: 220px;
        padding: 2rem;
        flex: 60%;
    }

    .boxImage .backgroundRight{
        height: 700px;
        width: auto;
        z-index: 1;
    }

    .right .boxImage{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        flex: 40%;
    }

    .right .content{
        width: 100%;
        height: 220px;
        padding: 2rem;
        flex: 60%;
    }
   
}

@media(max-width: 900px){
    .Features{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .left{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 2% 0;
        width: 100%;
    }

    .boxImage .backgrounLeft{
        height: 500px !important;
        width: auto !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .right{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
       /*  margin: 7% 0; */
    }
    
    .boxImage .backgrounRight{
        height: 600px !important;
        width: auto !important;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .boxImage img{
        width: 400px;
        height: 100%;
        position: relative;
        z-index: 5;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: #23222A;
        height: 160px;
        padding: 0 3%;
        width: 400px;
        margin: 2rem 0;
    }
    
    .content h2{
        font-size: 2.2rem;
        font-weight: 900;
        position: relative;
    }
    
    
    .content p{
        font-size: 1rem;
        font-weight: 300;
    }
}

@media(max-width: 600px){
    .Features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .content button{
        margin: 0 auto;
    }

    .left{
       /*  height: 100vh; */
        display:  grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        position: relative;
        padding: 3% 0;
        width: 100%;
    }

    .left .boxImage{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .left .boxImage .backgrounLeft{
        height: 600px !important;
        width: auto !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
/* 
    .left .boxImage img{
        width: 320px;
        height: 100%;
        position: relative;
        z-index: 5;
    } */

    .left .content{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #23222A;
        height: 100%;
        width: 100%;
        padding: 0 2%;
        margin: 0 auto;
    }
    
    .left .content h2{
        font-size: 1.8rem;
        font-weight: 900;
        position: relative;
        text-align: center;
    }
    
    
    .left .content p{
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }

    .right{
        /* height: 100vh; */
        display:  grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 3% 0;
        width: 100%;
        margin: 0;
    }
    
    .right .boxImage .backgrounRight{
        height: 600px !important;
        width: auto !important;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
       
    }

    .right .boxImage{
        grid-column: 1/3;
        grid-row: 1/2;
        transform: translateY(2rem) !important;
    }

    .right .rightImg{
        position: absolute
    }

 /*    .right .boxImage img{
        width: 320px;
        height: 100%;
        position: relative;
        z-index: 5;
    } */

    .right .content{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #23222A;
        height: 100%;
        width: 100%;
        padding: 0 2%;
        margin: 0 auto;
    }
    
    .right .content h2{
        font-size: 1.8rem;
        font-weight: 900;
        position: relative;
        text-align: center;
    }
    
    
    .right .content p{
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }
}


@media(max-width: 419px){
    .boxImage .backgroundLeft{
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .boxImage .backgroundRight{
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}


@media(max-width: 360px){
    .boxImage .backgroundLeft{
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .boxImage .backgroundRight{
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .content .left,
    .content .right{
        align-items: center;
        width: 100%;
    }

    .left .content h2,
    .right .content h2{
       font-size: 1.8rem;
        text-align: center;
    }

    .left .content p{
        font-size: .9rem;
    }

    .right .content p{
        font-size: .9rem;
    }

}
/* .content{
        align-items: center;
        width: 100%;
    }
    .content h2{
        font-size: 1.8rem;
        text-align: center;
    } */