.Action{
    background: url("../../assets/actionBackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: auto;
    margin: 10rem  0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: #D46F5E;
    font-size: 2.9rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5rem;
}

.content button{
    border: none;
    padding: 1rem .8rem;
    width: 10rem;
    background-color: #D46F5E;
    color: #fcfcfc;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.content button:hover{
    background-color: #da553e;
}


@media(max-width: 419px){
    .content h1{
        font-size: 1.7rem;
    }

    .content button{
        border: none;
        padding: 1rem .8rem;
        width: 8rem;
        background-color: #D46F5E;
        color: #fcfcfc;
        font-weight: 500;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .wrapperButton:hover{
        background-color: #da553e;
    }
    
}
