.Dashboard {
  display: grid;
  grid-template-areas: "navbar main main main ";
  height: 100vh;
  position: relative;
}

@media (max-width: 419px) {
  .Dashboard {
    grid-template-areas:
      "navbar navbar navbar"
      "overview overview overview"
      "main main main";
  }
}

@media (max-width: 360px) {
  .Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}


