.accountGroup a{
    text-decoration: none;
    color: #2BC4A9;
    font-weight: 700;
}

.accountGroup a:hover{
    color: #02e9bf;
}

.container{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    padding: 2rem 4rem;
}

.forgotPassword{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form{
    width: 100%;
}

.form h2{
    color:#261d56;
    font-size: 2rem;
}