.Goal{
    border-radius: 15px;
    background-color: #261D56;
    width: 95%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.wrapperTitleAndStatusGoal{
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.goalTitle{
    font-weight: 300;
    color: #fff;
}

.goalStatus{
    font-weight: 700;
    color: #fff;
}

.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1.1rem solid #fff;
    background-color: transparent;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goalAchievement{
    font-weight: 600;
    color: #fff;
    font-size: .8rem;
}