.Goal{
    border-radius: 15px;
    background-color: #1F2940;
    width: 320px;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.wrapperTitleAndStatusGoal{
    display: flex;
 /*    height: 70%; */
    width: 150px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.goalTitle{
    font-weight: 300;
    font-size: 1.25rem;
    color: #eee
}

.goalStatus{
    font-size: 1.05rem;
    font-weight: 700;
    color: #eee;
}

.circle{
    width: 40%;
    height: 40%;
    background-color: transparent;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goalAchievement{
    font-weight: 600;
    color: #fff;
    font-size: .8rem;
}

.goalAmount{
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 700;
    color: #2BC4A9;
}

@media(max-width: 419px){
    .Goal{
        border-radius: 15px;
        background-color: #F6F7FF;
        width: 350px;
        height: 12rem;
        display: flex;
        justify-content: space-around;
        padding: 0 .5rem;
        align-items: center;
        margin-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}